body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: Arial, sans-serif;
}

.choose-container {
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: green;
}

.buttons-container {
    margin-top: 20px;
}

.login-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.admin {
    background-color: blue;
}

.student {
    background-color: green;
}

.login-button:hover {
    opacity: 0.8;
}
